/* component */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body {
    scroll-behavior: smooth;
}

.btn {
    border-radius: 2px;
}

.contains {
    width: calc(100vw - 5vw);
    margin: auto;
}

@media(min-width:426px) {
    .contains {
        width: calc(100vw - 20vw);
    }
}

@media(min-width:1441px) {
    .contains {
        width: calc(100vw - 30vw);
    }
}

/* Navigation */

@media(max-width:425px) {
    .nav-mobile {
        width: calc(100vw - 10vw);
        margin: 0 auto;
    }
}

.logo-box {
    width: 100px;
    height: 34px;
}

/* Hero */

.img-hero {
    padding: 3vh 0 0 5vw;
    position: relative;
    right: 0;
}

.desc-hero-content {
    padding: 0 5vw 0 5vw;
}

.desc-hero-content h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 16px;
}

.desc-hero-content p {
    font-size: 14px;
    margin-bottom: 16px;
}

@media(min-width:426px) {
    .desc-hero {
        width: 50%;
    }

    .img-hero {
        width: 50%;
        padding: 2vh 0 0 2vw;
    }

    .desc-hero-content {
        padding: 0 0 0 10vw;
    }

    .desc-hero-content p {
        width: 80%;
    }
}

@media(min-width:1441px) {
    .desc-content {
        padding: 0vw 0 0vw 15vw;
    }
}

/* Service */
.service {
    padding: 10vh 2.5vw;
}

.img-service {
    width: 75%;
}

.desc-service-content h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
}

.desc-service-content p {
    font-size: 14px;
    margin-bottom: 16px;
}

@media(min-width:426px) {
    .service {
        padding: 10vh 0;
        width: 70%;
    }

    .img-service {
        width: 50%;
    }

    .desc-service {
        width: 50%;
    }

    .desc-service-content{
        width: 90%;
    }

}

/* Testimonial */

.carousel-control-prev-icon {
    background-image: url(../img/kiri.png);
}

.carousel-control-next-icon {
    background-image: url(../img/kanan.png);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 60px;
    height: 65px;
}